---
http_interactions:
- request:
    method: get
    uri: https://api.tictail.com/v1/stores/ARL/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: "[\n  {\n    \"status\": \"published\", \n    \"store_url\": \"http://www.konginitiative.com\",
        \n    \"description\": \"HP means strong and light, perfect for today\\u2019s
        progressive freestyle or powder Ape with a job and some free time. Big guys
        need light set ups, their snowboards are always big, wide and long so a light
        construction really makes a difference in the pow, on a chair, or when you
        are spinning after one of those fancy tricks. NEW! Ultra wide for giant feet.&nbsp;\",
        \n    \"store_name\": \"The Kong Initiative\", \n    \"store_id\": \"ARL\",
        \n    \"unlimited\": false, \n    \"created_at\": \"2014-01-28T20:21:48.000000\",
        \n    \"title\": \"Lib Tech Skunk Ape Horsepower 170 UW (2015)\", \n    \"modified_at\":
        \"2015-01-09T15:32:24.000000\", \n    \"slug\": \"lib-tech-skunk-ape-horsepower-170-uw\",
        \n    \"price\": 699000, \n    \"currency\": \"SEK\", \n    \"store_subdomain\":
        \"konginitiative\", \n    \"variations\": [\n      {\n        \"title\": null,
        \n        \"modified_at\": \"2014-12-12T15:37:57.000000\", \n        \"created_at\":
        \"2014-01-28T20:21:48.000000\", \n        \"unlimited\": false, \n        \"id\":
        \"a96t\", \n        \"quantity\": 3\n      }\n    ], \n    \"images\": [\n
        \     {\n        \"original_height\": 709, \n        \"sizes\": {\n          \"2000\":
        \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=2000\",
        \n          \"30\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=30\",
        \n          \"300\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=300\",
        \n          \"45\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=45\",
        \n          \"50\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=50\",
        \n          \"40\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=40\",
        \n          \"640\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=640\",
        \n          \"75\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=75\",
        \n          \"100\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=100\",
        \n          \"500\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg?size=500\",
        \n          \"1000\": \"https://images.ttcdn.co/i/product/1000/0/103026-d67a46349d244540be67828c47bee20f.jpeg\"\n
        \       }, \n        \"url\": \"https://images.ttcdn.co/media/i/product/103026-d67a46349d244540be67828c47bee20f.jpeg\",
        \n        \"created_at\": \"2015-01-09T15:32:23.000000\", \n        \"modified_at\":
        \"2015-01-09T15:32:23.000000\", \n        \"original_width\": 1772, \n        \"id\":
        \"w6TU\"\n      }\n    ], \n    \"id\": \"7aKe\", \n    \"categories\": [\n
        \     {\n        \"title\": \"Boards\", \n        \"created_at\": \"2014-02-07T12:59:22.000000\",
        \n        \"modified_at\": null, \n        \"slug\": \"boards\", \n        \"parent_id\":
        null, \n        \"product_count\": 5, \n        \"position\": 0, \n        \"id\":
        \"3D5n\"\n      }, \n      {\n        \"title\": \"Lib Tech\", \n        \"created_at\":
        \"2014-07-19T12:26:37.000000\", \n        \"modified_at\": null, \n        \"slug\":
        \"lib-tech\", \n        \"parent_id\": \"3D5n\", \n        \"product_count\":
        1, \n        \"position\": 4, \n        \"id\": \"4qZJ\"\n      }\n    ],
        \n    \"quantity\": 3\n  }, \n  {\n    \"status\": \"published\", \n    \"store_url\":
        \"http://www.konginitiative.com\", \n    \"description\": \"<span>The Magnum
        is Nitro's&nbsp;powerful, all-mountain directional &nbsp;board for larger
        riders with bigger feet and wider stances.<br /><br /><b>Tech specs</b><br
        /></span><ul><li>Progressive Sidecut</li><li>Powerlite Core</li><li>Bi-Lite
        Laminates</li><li>Sintered Speed Forumula HD Base</li><li><b>NEW!</b> Roof
        Chop Camber</li></ul><div><br />Shape: Directional<br />Flex: Mountain<br
        />Width: Wide<br /></div>\", \n    \"store_name\": \"The Kong Initiative\",
        \n    \"store_id\": \"ARL\", \n    \"unlimited\": false, \n    \"created_at\":
        \"2014-02-06T14:45:08.000000\", \n    \"title\": \"Nitro Magnum 171 (2015)\",
        \n    \"modified_at\": \"2015-01-10T15:20:20.000000\", \n    \"slug\": \"nitro-magnum-171\",
        \n    \"price\": 439900, \n    \"currency\": \"SEK\", \n    \"store_subdomain\":
     [...]
